.App {
  text-align: center;
}

.form-playground{
  height: 100%;
  width: 100%;
}

.form-playground-line{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.form-playground-column{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.form-check-input{
  width: 100 !important;
  height: 100 !important;
}
.right-border{
  border-right: 4px solid gray;
}
.left-border{
  border-left: 4px solid gray;
}
.bottom-top-border{
  border-top: 4px solid gray;
  border-bottom: 4px solid gray;
}
